name: deploy-dns

on:
  push:
    branches: [ '*' ]
    paths:
      - 'dns/**'
      - '.github/workflows/deploy-dns.yml'
  pull_request:
    branches: ["main"]
    paths:
      - 'dns/**'
      - '.github/workflows/deploy-dns.yml'

permissions: read-all

jobs:
  deploy-dns:
    name: 'deploy-dns-infrastructure'
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        shell: bash
        working-directory: ./dns

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        role-to-assume: ${{ secrets.IAM_ROLE }}
        role-session-name: DNSSession
        aws-region: us-east-2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Validate
      run: terraform validate -no-color

    - name: Terraform Plan
      id: plan
      if: github.ref != 'refs/heads/main' || github.event_name == 'pull_request'
      run: |
        terraform plan -no-color -input=false -out=TFplan.JSON
      continue-on-error: true

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve -input=false